name: Check

on:
  push:
  workflow_dispatch:

jobs:
  golangci-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.2
      - uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: v2.1.2
      - run: go test ./...
