name: Post Merge

on:
  push:
    branches:
      - main

jobs:
  golangci-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.2
      - uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: v2.1.2

  release-build-darwin-amd64:
    name: Release Build darwin/amd64
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Download Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.2

      - name: Build darwin/amd64
        run: make build-darwin-amd64

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: kube-review-darwin-amd64
          path: _release/kube-review-darwin-amd64

  release-build-darwin-arm64:
    name: Release Build darwin/arm64
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Download Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.2

      - name: Build darwin/arm64
        run: make build-darwin-arm64

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: kube-review-darwin-arm64
          path: _release/kube-review-darwin-arm64

  release-build-linux-amd64:
    name: Release Build linux/amd64
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Download Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.2

      - name: Build linux/amd64
        run: make build-linux-amd64

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: kube-review-linux-amd64
          path: _release/kube-review-linux-amd64

  release-build-windows-amd64:
    name: Release Build windows/amd64
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Download Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.2

      - name: Build windows/amd64
        run: make build-windows-amd64

      - name: Upload binaries
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: kube-review-windows-amd64
          path: _release/kube-review-windows-amd64.exe
